.App {
    text-align: center;
    min-height: 100vh;
    background-color: #fff;
}

.App-header {
    background-color: #282c34;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 0 12px;
}

.mainAppBody {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
